<section class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <svg class="icon icon--primary collapsible__chevron">
        <use xlink:href="Images/sprite.svg#tick"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
      assumenda?
    </div>
  </section>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
      <svg class="icon icon--primary collapsible__chevron">
        <use xlink:href="Images/sprite.svg#tick"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
      assumenda?
    </div>
  </div>
  <script src="js/main.js"></script>