<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, debitis.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        debitis veritatis quisquam vero fugiat doloremque reprehenderit veniam
        recusandae at totam?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="Images/resized/easy.webp 1x, Images/resized/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="Images/resized/easy.jpg 1x, Images/resized/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="Images/resized/easy@2x.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        quaerat fugit, reiciendis perferendis perspiciatis labore consectetur
        cum. Impedit, molestias! Exercitationem.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="Images/resized/easy.webp 1x, Images/resized/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="Images/resized/easy.jpg 1x, Images/resized/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="Images/resized/easy@2x.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, iusto! Aut
        in facilis culpa deleniti ea officiis cum nemo ipsam!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="Images/resized/easy.webp 1x, Images/resized/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="Images/resized/easy.jpg 1x, Images/resized/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="Images/resized/easy@2x.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae
        repellat veniam aliquid error voluptates temporibus unde quam architecto
        dignissimos cum.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="Images/resized/easy.webp 1x, Images/resized/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="Images/resized/easy.jpg 1x, Images/resized/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="Images/resized/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
